<h1>Manageru</h1>
<h3>Task一覧</h3>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to "新規taskページへ", manages_new_path %>
<div class="manages-container">
    <% @manages.each do |t| %>
        <div class="manage">
            <%= t.id %>
            <%= t.task %>
            <%= t.due %>
            <%= t.totaltime %>
            <%= t.hurry %>
            <%= t.totaldid %>
            <%= t.created_at %>
            <%= link_to "詳細へ", manage_path(t.id) %>
            <%= link_to "編集する", edit_manage_path(t.id) %>
            <%= button_to "削除する", manage_path(t.id), method: :delete %>
        </div>
    <% end %>
</div>

<% if user_signed_in? %>
    <%= link_to "マイページへ", user_path(current_user.id) %>　
<% end %>

