<h1>Mnageru</h1>
<h3>新規Task</h3>
<%= form_for @manage do |f| %>
    <div class="field">
        <%= f.label :'タスク名' %>
        <%= f.text_field :task, :size => 100 %>
        <%= f.label :'期限日' %>
        <%= f.date_select :due %>
        <%= f.label :'目標合計時間' %>
        <%= f.text_field :totaltime %>
        <%= f.label :'急ぎ具合' %>
        <%= f.select :hurry, {'普通':1, 'ちょっと急ぎ':2, 'やや急ぎ':3, '急ぎ':4, '大急ぎ':5} %>
    </div>
    <%= f.submit "追加する" %>
<% end %>
<%= link_to "task一覧に戻る", manages_path %>