<h1>Manageru</h1>
<h3>Task詳細</h3>
<div class="manage">
    <p><%= @manage.task %></p>
    <p><%= @manage.due %></p>
    <p><%= @manage.totaltime %></p>
    <p><%= @manage.hurry %></p>
    <p><%= @manage.created_at %></p>
    <p><%= @manage.totaldid %></p>
</div>
<%= link_to "編集する", edit_manage_path(@manage.id) %>
<%= link_to "Task一覧に戻る", manages_path %>
<%= link_to "学習タイマーへ戻る", manages_start_path %>